@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial;
}

body {
    background-color: #212121;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

/* menu */
nav {
    position: relative;
    z-index: 3;
}

ul {
    list-style: none;
}

.logo {
    font-family: 'Poiret One', Arial;
}

.logo img {
    height: 42px !important;
}

.home {
    position: absolute;
    top: 1rem;
    right: .3rem;
}

.menu-div {
    font-size: 1.2rem;
    writing-mode: tb-rl;
    padding: 0 6px 0 0;
    transform: rotate(-180deg);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-div:hover {
    color: gray;
    transition: all 0.2s ease-in-out;
}

.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: -100%;
    align-items: center;
    background-color: #212121;
    z-index: 3;
}

.nav {
    padding: 3px 0;
    margin-bottom: -24px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: gray;
    transition: all 0.2s ease-in-out;
}

/* custom hover image on menu item */

.cursor {
  position: absolute;
  width: 521px;
  height: 234px;
  top: 50%;
  left: 50%;
  margin: -90px 0 180px 200px;
  opacity: 0;
  background: url(./assets/swimwear-color.png) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}

.project-overlay {
  position: relative;
  width: 1%;
  height: 1%;
  z-index: 0;
}

.background {
    position: absolute;
    font-size: 15rem;
    font-weight: 600;
    color: #303030;
    user-select: none;
}

.small-number {
    font-size: 1.2rem;
}

.exit {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
    padding: 0 99px;
}

.title {
    font-size: 2rem;
    color: rgb(170, 151, 126);
}

.right {
    padding-right: 100px;
}

.information {
    margin-bottom: 24px;
}

.menu-container {
    z-index: 3;
}

.social-medias > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.description {
      display: flex;
      align-items: center;
}

.description img {
      height: 24px;
      margin-right: 9px;
}

/* slider */
.image-slider {
      z-index: 0;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100vh;
}

.image-slide {
      height: 100vh;
}

.slick-slide.slick-center {
      transform: scale(1.2);
      transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
      transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.slider-control {
      margin: 0%;
      position: absolute;
      z-index: 2;
      bottom: 0%;
      left: 38%;
      transform: translate(-50%, -50%);
      display: flex;
}

button {
      color: #fff;
      background: none;
      padding: 15px;
      border: 1px solid rgba(255, 255, 255, .3);
      font-size: 16px;
      border-radius: 50%;
      margin: .4em;
      display: inline-flex;
}

button:hover {
    background-color: #ffffff0a;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.block-1 {
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 5%;
      left: 0%;
      background: #212121;
}

.block-2 {
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 25%;
      left: 25%;
      background: #212121;
}

.block-3 {
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 5%;
      right: 0%;
      background: #212121;
}

.overlay {
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 20.1%;
      left: 5%;
      background: rgba(0, 0, 0, .65);
}

.text-slider-wrapper {
      z-index: 2;
      position: absolute;
      width: 100%;
      top: 30%;
}

.text-slider {
      margin: 0%;
      padding: 0%;
      height: 100vh;
}

.text-slide h1 {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase;
      padding-left: 9%;
      padding-top: 16%;
}

main {
    position: relative;
    overflow: hidden;
}

/* project styles */
.media ul {
  position: absolute;
  bottom: 250px;
  left: -140px;
  transform: rotate(-90deg);
}

.media ul li {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 30px;
  color: rgb(170, 151, 126);
}

.media ul li a:hover {
      color: white;
}


/* text */
.text {
  position: absolute;
  top: 175px;
  left: 100px;
  transform: rotate(-90deg);
}

.text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
}
.text h1 .hidetext {
  position: absolute;
}

.text h2 {
  position: absolute;
  top: 40px;
  left: -9px;
  color: rgb(170, 151, 126);
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  
  position: relative;
  overflow: hidden;
  height: 80px;
  color: rgba(255, 255, 255, 0.39);
}

.text h3 .hidetext {
  position: absolute;
}

.text p {
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.39);
  position: relative;
  overflow: hidden;
  height: 110px;
}
.text p .hidetext {
  position: absolute;
}


/* sponsor */
.sponsor {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: center;
}

.sponsor img {
    margin-bottom: 36px;
  width: 200px;
  transform: rotate(-90deg);
}

.sponsor img:hover {
      filter: drop-shadow(0 0 0.75rem orangered);
}

.sponsor p {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(180deg);
}

.pdf {
    position: absolute;
    display: flex;
    flex-direction: column;
  right: 130px;
  bottom: 20px;
  text-align: center;
    font-size: 12px;
    color: rgb(170, 151, 126);
}

.pdf ion-icon {
    font-size: 24px;
    margin: 0 auto;
}

.pdf:hover {
      color: #587291;
}

.ig-pointer {
      position: absolute;
      right: 80px;
      bottom: 200px;
      font-size: 24px;
      color: rgb(119, 114, 114);
}

/* distortion */
.distortion {
  width: 600px;
  height: 100vh;
  position: absolute;
  right: 300px;
  bottom: 0;
}

.wrapper {
      position: absolute;
      width: 100% !important;
      height: 100vh;
      z-index: 2;
}

/* beachwear styles */
.wrapper-beachwear {
      display: flex;
      height: 100vh;
      overflow: hidden;
}

.text-bw {
      display: flex;
      align-items: center;
      width: 40%;
      height: 100vh;
      padding: 15px 15px 15px 60px;
}

.text-bw h1 {
      font-size: 70px;
      line-height: 84px;
      font-weight: normal;
      color: #587291;
      text-transform: uppercase;
}

.text-bw p {
      font-size: 20px;
      color: #5a5858;
      text-transform: uppercase;
      margin-top: 15px;
      letter-spacing: 4px;
}

.social-bw {
      bottom: 150px;
      margin-top: 200px;
      position: absolute;
}

.social-bw a {
      position: relative;
      display: inline-block;
      text-align: center;
      color: #587291;
      margin-right: 24px;
}

.social-bw a ion-icon {
      font-size: 21px;
}

.bw-img {
      display: flex;
      justify-content: space-around;
      width: 50%;
      padding: 0 15px;
}

.bw-img img {
      width: 100%;
      margin: 15px;
}

.bw-img .bw-img-stripe {
      width: calc(50% - 15px);
}

.bw-img .stripe-down {
      animation: stripe-d 90s ease 0s infinite;
}

@keyframes stripe-d {
      50% {
            transform: translateY(-640%);
      }
}

.bw-img .stripe-up {
      transform: translateY(-640%);
      animation: stripe-u 90s ease 0s infinite;
}

@keyframes stripe-u {
      50% {
            transform: translateY(0%);
      }
}



/* page transition */
#project-bg {
      width: 100%;
      height: 100vh;
      background: #587291;
      overflow: hidden;
}

.box {
      background: #212121;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 0;
}

.block {
      position: fixed;
      width: 5%;
      height: 100vh;
      background: #212121;
}

.block--1 {
      left: 0;
}

.block--2 {
      left: 5%;
}

.block--3 {
      left: 10%;
}

.block--4 {
      left: 15%;
}

.block--5 {
      left: 20%;
}

.block--6 {
      left: 25%;
}

.block--7 {
      left: 30%;
}

.block--8 {
      left: 35%;
}

.block--9 {
      left: 40%;
}

.block--10 {
      left: 45%;
}

.block--11 {
      left: 50%;
}

.block--12 {
      left: 55%;
}

.block--13 {
      left: 60%;
}

.block--14 {
      left: 65%;
}

.block--15 {
      left: 70%;
}

.block--16 {
      left: 75%;
}

.block--17 {
      left: 80%;
}

.block--18 {
      left: 85%;
}

.block--19 {
      left: 90%;
}

.block--20 {
      left: 95%;
}

/* beachwear page animation */
.overlay-bw {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #587291;
      z-index: 4;
}

.overlay-bw-top {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #748ead;
      z-index: 3;
}

.overlay-bw-f {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #587291;
      z-index: 2;
}






/* media queries */
@media screen and (max-width: 481px) {

    .home {
        left: 0;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
    } 

    .nav-link {
        font-size: 1.8rem;
    }

    .background {
        font-size: 9rem;
    }

    .exit {
        padding: 0;
    }

    .image-slide {
      background-position: 50% 20% !important;
    }

}

@media screen and (max-width: 660px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }

    .right {
        display: none;
    }

     .home {
         left: 0;
        padding: 21px 36px;
    }

}

@media(max-width: 990px) {
      .block-2, .overlay {
            display: none;
      }

      .block-1 {
            width: 50%;
      }

      .block-3 {
            width: 12%;
      }

      .slide-slick {
            display: none !important;
      }

      .text-slide h1 {
            font-size: 30px !important;
      padding-top: 12%;
      }

      .text-slider-wrapper {
            position: absolute;
            top: 50% !important;
      }

      .slider-control {
            left: 22.5%;
      }
}

@media(min-width: 991px) {
     .text-slide h1 {
      padding-top: 13%;
      }
}
